USE [master]
GO
/****** Object:  Database [CineCenterDB]    Script Date: 9/6/2025 18:26:34 ******/
CREATE DATABASE [CineCenterDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CineCenterDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CineCenterDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CineCenterDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CineCenterDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CineCenterDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CineCenterDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/6/2025 18:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Butacas]    Script Date: 9/6/2025 18:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Butacas](
	[Id_Butacas] [int] IDENTITY(1,1) NOT NULL,
	[SalaId] [int] NOT NULL,
	[Numero] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Butacas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 9/6/2025 18:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[Id_Facturas] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[CUF] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Facturas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Horarios]    Script Date: 9/6/2025 18:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horarios](
	[Id_Horarios] [int] IDENTITY(1,1) NOT NULL,
	[SalaId] [int] NOT NULL,
	[PeliculaId] [int] NOT NULL,
	[FechaHora] [datetime] NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__Horarios__3214EC074DD1A175] PRIMARY KEY CLUSTERED 
(
	[Id_Horarios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 9/6/2025 18:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[Id_Pagos] [int] IDENTITY(1,1) NOT NULL,
	[TicketId] [int] NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[FechaPago] [datetime] NULL,
	[Estado] [nvarchar](20) NULL,
 CONSTRAINT [PK__Pagos__3214EC076372A8D9] PRIMARY KEY CLUSTERED 
(
	[Id_Pagos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Peliculas]    Script Date: 9/6/2025 18:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peliculas](
	[Id_Peliculas] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](100) NOT NULL,
	[Genero] [nvarchar](50) NOT NULL,
	[Duracion] [nvarchar](20) NOT NULL,
	[Sinopsis] [nvarchar](1000) NULL,
	[Imagen] [nvarchar](200) NULL,
	[Formatos] [nvarchar](50) NULL,
	[Estreno] [bit] NULL,
	[Trailer] [nvarchar](200) NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK__Pelicula__3214EC078F973ADE] PRIMARY KEY CLUSTERED 
(
	[Id_Peliculas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salas]    Script Date: 9/6/2025 18:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salas](
	[Id_Salas] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Capacidad] [int] NOT NULL,
	[Tipo] [nvarchar](50) NULL,
 CONSTRAINT [PK__Salas__3214EC07C0B10BE9] PRIMARY KEY CLUSTERED 
(
	[Id_Salas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 9/6/2025 18:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[Id_Tickets] [int] IDENTITY(1,1) NOT NULL,
	[HorarioId] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[FechaCompra] [datetime] NULL,
	[ButacaId] [int] NOT NULL,
 CONSTRAINT [PK__Tickets__3214EC07E4765C07] PRIMARY KEY CLUSTERED 
(
	[Id_Tickets] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 9/6/2025 18:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id_Usuarios] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](200) NOT NULL,
	[EsAdmin] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
 CONSTRAINT [PK__Usuarios__3214EC075BD2E60C] PRIMARY KEY CLUSTERED 
(
	[Id_Usuarios] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Butacas] ON 

INSERT [dbo].[Butacas] ([Id_Butacas], [SalaId], [Numero]) VALUES (21, 6, N'A28')
INSERT [dbo].[Butacas] ([Id_Butacas], [SalaId], [Numero]) VALUES (22, 6, N'A27')
INSERT [dbo].[Butacas] ([Id_Butacas], [SalaId], [Numero]) VALUES (23, 6, N'A26')
GO
SET IDENTITY_INSERT [dbo].[Butacas] OFF
GO
SET IDENTITY_INSERT [dbo].[Facturas] ON 

INSERT [dbo].[Facturas] ([Id_Facturas], [TicketId], [Fecha], [CUF]) VALUES (1, 120, CAST(N'2025-05-25T23:11:45.580' AS DateTime), N'f9799e97-2742-422f-bb1a-7603424f8725')
INSERT [dbo].[Facturas] ([Id_Facturas], [TicketId], [Fecha], [CUF]) VALUES (2, 121, CAST(N'2025-05-25T23:11:46.310' AS DateTime), N'f0f67ae8-3f9c-47e6-9f27-1d054a0584fb')
INSERT [dbo].[Facturas] ([Id_Facturas], [TicketId], [Fecha], [CUF]) VALUES (3, 122, CAST(N'2025-05-25T23:23:17.443' AS DateTime), N'ad327c2d-eca6-492f-99af-7fd73c6cdbb9')
SET IDENTITY_INSERT [dbo].[Facturas] OFF
GO
SET IDENTITY_INSERT [dbo].[Horarios] ON 

INSERT [dbo].[Horarios] ([Id_Horarios], [SalaId], [PeliculaId], [FechaHora], [Precio]) VALUES (4, 6, 15, CAST(N'2025-05-13T15:00:00.000' AS DateTime), CAST(40.00 AS Decimal(10, 2)))
INSERT [dbo].[Horarios] ([Id_Horarios], [SalaId], [PeliculaId], [FechaHora], [Precio]) VALUES (5, 6, 16, CAST(N'2025-05-13T18:00:00.000' AS DateTime), CAST(38.00 AS Decimal(10, 2)))
INSERT [dbo].[Horarios] ([Id_Horarios], [SalaId], [PeliculaId], [FechaHora], [Precio]) VALUES (6, 7, 17, CAST(N'2025-05-14T16:00:00.000' AS DateTime), CAST(37.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Horarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Pagos] ON 

INSERT [dbo].[Pagos] ([Id_Pagos], [TicketId], [Monto], [FechaPago], [Estado]) VALUES (1, 120, CAST(40.00 AS Decimal(10, 2)), CAST(N'2025-05-25T23:11:45.577' AS DateTime), N'Pagado')
INSERT [dbo].[Pagos] ([Id_Pagos], [TicketId], [Monto], [FechaPago], [Estado]) VALUES (2, 121, CAST(40.00 AS Decimal(10, 2)), CAST(N'2025-05-25T23:11:46.310' AS DateTime), N'Pagado')
INSERT [dbo].[Pagos] ([Id_Pagos], [TicketId], [Monto], [FechaPago], [Estado]) VALUES (3, 122, CAST(50.00 AS Decimal(10, 2)), CAST(N'2025-05-25T23:23:17.443' AS DateTime), N'Pagado')
SET IDENTITY_INSERT [dbo].[Pagos] OFF
GO
SET IDENTITY_INSERT [dbo].[Peliculas] ON 

INSERT [dbo].[Peliculas] ([Id_Peliculas], [Titulo], [Genero], [Duracion], [Sinopsis], [Imagen], [Formatos], [Estreno], [Trailer], [Estado]) VALUES (15, N'Lilo y Stitch', N'Animacion', N'95', N'Remake en acción real del clásico animado.', N'15.jpg', N'2D, 3D', 1, N'https://youtu.be/9JIyINjMfcc?si=wbw1exNdTYYdEeqI', 1)
INSERT [dbo].[Peliculas] ([Id_Peliculas], [Titulo], [Genero], [Duracion], [Sinopsis], [Imagen], [Formatos], [Estreno], [Trailer], [Estado]) VALUES (16, N'La Idea de Tenerte', N'Amor', N'110', N'Romance contemporáneo.', N'la_idea_de_tenerte.jpg', NULL, 1, N'https://youtu.be/hZKyOMGwAwA?si=scZW8oASGLn2UwkF', 1)
INSERT [dbo].[Peliculas] ([Id_Peliculas], [Titulo], [Genero], [Duracion], [Sinopsis], [Imagen], [Formatos], [Estreno], [Trailer], [Estado]) VALUES (17, N'Blanca Nieves', N'Animacion', N'120', N'Nueva versión del clásico cuento.', N'blanca_nieves.jpg', NULL, 1, N'https://youtu.be/BE0BwFSYXOQ?si=owG-FieTtxsXRvgL', 0)
SET IDENTITY_INSERT [dbo].[Peliculas] OFF
GO
SET IDENTITY_INSERT [dbo].[Salas] ON 

INSERT [dbo].[Salas] ([Id_Salas], [Nombre], [Capacidad], [Tipo]) VALUES (6, N'Sala 1', 288, N'2D')
INSERT [dbo].[Salas] ([Id_Salas], [Nombre], [Capacidad], [Tipo]) VALUES (7, N'Sala 2', 288, N'3D')
INSERT [dbo].[Salas] ([Id_Salas], [Nombre], [Capacidad], [Tipo]) VALUES (8, N'Sala 3', 288, N'4D')
SET IDENTITY_INSERT [dbo].[Salas] OFF
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([Id_Tickets], [HorarioId], [UsuarioId], [FechaCompra], [ButacaId]) VALUES (1, 8, 7, CAST(N'2025-05-21T22:00:00.000' AS DateTime), 597)
INSERT [dbo].[Tickets] ([Id_Tickets], [HorarioId], [UsuarioId], [FechaCompra], [ButacaId]) VALUES (2, 8, 7, CAST(N'2025-05-21T22:00:00.000' AS DateTime), 598)
INSERT [dbo].[Tickets] ([Id_Tickets], [HorarioId], [UsuarioId], [FechaCompra], [ButacaId]) VALUES (3, 8, 7, CAST(N'2025-05-21T22:00:00.000' AS DateTime), 599)
GO
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id_Usuarios], [NombreCompleto], [Email], [PasswordHash], [EsAdmin], [FechaRegistro]) VALUES (6, N'Juan Jimenez', N'juanpablojimenezsiles547@gmail.com', N'C11522-3', 0, CAST(N'2025-05-08T00:00:00.000' AS DateTime))
INSERT [dbo].[Usuarios] ([Id_Usuarios], [NombreCompleto], [Email], [PasswordHash], [EsAdmin], [FechaRegistro]) VALUES (7, N'Nataly Crespo', N'natcrespoarrian123@gmail.com', N'C11483-9', 1, CAST(N'2025-05-08T00:00:00.000' AS DateTime))
INSERT [dbo].[Usuarios] ([Id_Usuarios], [NombreCompleto], [Email], [PasswordHash], [EsAdmin], [FechaRegistro]) VALUES (8, N'Andres Orellana', N'andrew4321@gmail.com', N'C11171-6', 0, CAST(N'2025-05-08T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Salas_Nombre]    Script Date: 9/6/2025 18:26:34 ******/
ALTER TABLE [dbo].[Salas] ADD  CONSTRAINT [UQ_Salas_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__A9D1053409A810FE]    Script Date: 9/6/2025 18:26:34 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ__Usuarios__A9D1053409A810FE] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Pagos] ADD  CONSTRAINT [DF__Pagos__FechaPago__5535A963]  DEFAULT (getdate()) FOR [FechaPago]
GO
ALTER TABLE [dbo].[Pagos] ADD  CONSTRAINT [DF__Pagos__Estado__5629CD9C]  DEFAULT ('Pagado') FOR [Estado]
GO
ALTER TABLE [dbo].[Peliculas] ADD  CONSTRAINT [DF__Peliculas__Estre__37A5467C]  DEFAULT ((0)) FOR [Estreno]
GO
ALTER TABLE [dbo].[Peliculas] ADD  CONSTRAINT [DF_Peliculas_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Tickets] ADD  CONSTRAINT [DF__Tickets__FechaCo__5070F446]  DEFAULT (getdate()) FOR [FechaCompra]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF__Usuarios__EsAdmi__46E78A0C]  DEFAULT ((0)) FOR [EsAdmin]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF__Usuarios__FechaR__47DBAE45]  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Butacas]  WITH NOCHECK ADD  CONSTRAINT [FK_Butacas_Salas] FOREIGN KEY([SalaId])
REFERENCES [dbo].[Salas] ([Id_Salas])
GO
ALTER TABLE [dbo].[Butacas] CHECK CONSTRAINT [FK_Butacas_Salas]
GO
ALTER TABLE [dbo].[Facturas]  WITH NOCHECK ADD  CONSTRAINT [FK_Facturas_Tickets1] FOREIGN KEY([Id_Facturas])
REFERENCES [dbo].[Tickets] ([Id_Tickets])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Tickets1]
GO
ALTER TABLE [dbo].[Horarios]  WITH NOCHECK ADD  CONSTRAINT [FK__Horarios__Pelicu__4D94879B] FOREIGN KEY([PeliculaId])
REFERENCES [dbo].[Peliculas] ([Id_Peliculas])
GO
ALTER TABLE [dbo].[Horarios] CHECK CONSTRAINT [FK__Horarios__Pelicu__4D94879B]
GO
ALTER TABLE [dbo].[Horarios]  WITH NOCHECK ADD  CONSTRAINT [FK__Horarios__SalaId__4CA06362] FOREIGN KEY([SalaId])
REFERENCES [dbo].[Salas] ([Id_Salas])
GO
ALTER TABLE [dbo].[Horarios] CHECK CONSTRAINT [FK__Horarios__SalaId__4CA06362]
GO
ALTER TABLE [dbo].[Pagos]  WITH NOCHECK ADD  CONSTRAINT [FK__Pagos__TicketId__571DF1D5] FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets] ([Id_Tickets])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK__Pagos__TicketId__571DF1D5]
GO
ALTER TABLE [dbo].[Tickets]  WITH NOCHECK ADD  CONSTRAINT [FK__Tickets__Horario__5165187F] FOREIGN KEY([HorarioId])
REFERENCES [dbo].[Horarios] ([Id_Horarios])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK__Tickets__Horario__5165187F]
GO
ALTER TABLE [dbo].[Tickets]  WITH NOCHECK ADD  CONSTRAINT [FK__Tickets__Usuario__52593CB8] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id_Usuarios])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK__Tickets__Usuario__52593CB8]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Butacas] FOREIGN KEY([ButacaId])
REFERENCES [dbo].[Butacas] ([Id_Butacas])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Butacas]
GO
USE [master]
GO
